* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: '思源黑体'
}

.input {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

label {
	display: flex;
	align-items: center;
	height: 1rem;
	font-size: 0.4rem;
	color: #999;
}

input {
	padding-left: 0.5rem;
	box-sizing: border-box;
	width: 0.7rem;
	height: 0.7rem;
}

/* input::-webkit-input-placeholder {

	padding-left:0.5rem;

} */

#select {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#add {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#selectResult {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.primaryColor {
	background-color: #4374dd;
	color: #fff
}

.weakenColor {
	background-color: #c2c2c2;
	color: #5f5f5f
}

button {
	position: relative;
	/* 隐藏溢出的径向渐变背景 */
	overflow: hidden;
	transition: all 0.5s;
	border: 0;
	border-radius: 5px;
}

button:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	/* 设置径向渐变 */
	background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform .3s, opacity .5s;
}


button:active:after {
	transform: scale(0, 0);
	opacity: .5;
	/* 设置初始状态 */
	transition: 0s;
}

button:before {
	margin-right: 0.2rem
}

.successButton {
	width: 100%;
	height: 1.3rem;
	background-color: #00c599;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 0.4rem !important;
	margin-bottom: 0.2rem;
}

.warningButton {
	width: 100%;
	height: 1.3rem;
	background-color: #ffaf1e;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 0.4rem !important;
	margin-bottom: 0.2rem;
}

.primaryButton {
	width: 100%;
	height: 1.3rem;
	background-color: #4374dd;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 0.4rem !important;
	margin-bottom: 0.2rem
}

.dataOptionsBack {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 11
}

.deleteButton {
	background-color: #e5e5e5;
	width: 100%;
	height: 1.3rem;
	border: none;
	border-radius: 5px;
	font-size: 0.4rem !important;
	margin-bottom: 0.2rem;
	/* border: 1px solid #3d3d3d; */
	color: #3d3d3d;
}

.buttonBox {
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: space-between;
}

.buttonBox button {
	margin-left: 0.2rem;
}

.buttonBox button:nth-child(1) {
	margin: 0
}

.dropDownInput {
	width: 100%;
	height: 1.2rem;
	/* border: 1px solid #4374dd; */
	border: 0;
	outline: none;
	border-radius: 4px;
	font-size: 0.4rem;
	color: #383838;
	margin-bottom: 0.4rem;
	box-sizing: border-box;
	/* background-color: #efefef; */
}

.selectInput {
	width: 100%;
	height: 1.2rem;
	border: 0;
	outline: none;
	/* border-bottom: 1px solid #4374dd; */
	/* border-radius: 4px; */
	font-size: 0.4rem;
	color: #383838;
	margin-bottom: 0.4rem;
	box-sizing: border-box;
	/* background-color: #efefef; */
}

.selectInput1 {
	width: 100%;
	height: 1.2rem;
	/* border: 1px solid #4374dd; */
	border: 0;
	outline: none;
	border-radius: 4px;
	font-size: 0.4rem;
	color: #383838;
	margin-bottom: 0.4rem;
	box-sizing: border-box;
	background-color: #efefef;
}

.selectTextarea {
	width: 100%;
	height: 3rem;
	border: 0;
	outline: none;
	border-radius: 4px;
	font-size: 0.4rem;
	color: #383838;
	margin-bottom: 0.2rem;
	box-sizing: border-box;
	resize: none;
}

.textBox {
	width: 90%;
	margin: 0 auto;
	margin-top: 0.5rem;
}


.dropDownMenu {
	width: 100%;
	height: 50vh;
	background-color: #efefef;
	position: absolute;
	bottom: 0;
	display: none;
	z-index: 12
}

.dropDownControl {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.3rem;
	box-sizing: border-box;
	background: #efefef;
}

.dropDownControl button {
	width: 20vw;
	height: 1rem;
	font-size: 0.4rem
}

.dropDownContent {
	width: 100%;
	height: 40vh;
	padding: 0 0.3rem;
	box-sizing: border-box;
}

.dropDownContent ul {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.dropDownContent ul::-webkit-scrollbar {
	width: 0 !important
}

.dropDownContent ul li {
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px dashed #999;
	font-size: 0.4rem
}

.selectResultIfrHei {
	height: 100vh !important
}

.selectControl {
	width: 1rem;
	height: 3rem;
	position: absolute;
	top: 45vh;
	right: 0;
	background-color: rgba(220, 65, 65, 0.8);
	z-index: 10;
	padding: 0.4rem;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 0.3rem;
	border-radius: 5px 0;
	box-shadow: 0 0 5px #999;
}

.selectControl::after {
	content: '检索条件'
}

.dataOptions {
	width: 100%;
	max-height: 88vh;
	margin: 0 auto;
	overflow: auto;
}

.dataOptions li {
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 0.05rem dashed #ccc;
}

.dataOptions li:active {
	background-color: #f2f2f2;
}

.dataOptions li span {
	font-size: 0.4rem;
}

.dataOptions li i {
	color: #fff;
}

.dataOptions::-webkit-scrollbar {
	width: 0 !important
}

.dataOptions tr {
	height: 1.5rem;
	position: relative;
}

.dataOptions tr:nth-child(even) {
	background-color: #fff;
}

.dataOptions tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.dataOptions th {
	min-width: 2.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #4374dd;
	color: #fff;
	/* border-right: 1px solid #fff; */
	padding: 0 0.5rem
}

.dataOptions td {
	min-width: 4rem;
	height: 1.5rem;
	padding: 0 0.5rem;
}

.dataOptionsControl {
	position: absolute;
	right: 0;
	width: 20%;
	height: 100%;
	display: none;
	/* padding: 0 !important; */
}

.dataOptionsControl ul {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dataOptionsControl ul li {
	width: 45%;
	height: 70%;
	border: 0;
	border-radius: 5px;
}

.dataOptionsControl ul li:nth-child(1) {
	background-color: rgb(85, 85, 225)
}


.dataOptionsControl ul li:nth-child(2) {
	background-color: rgb(220, 65, 65)
}

.fy {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 0.5rem;
}

.fy .leftPage {
	width: 1.5rem;
	height: 1rem;
	background-color: #4374dd;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	border-radius: 5px;
}

.fy .rightPage {
	width: 1.5rem;
	height: 1rem;
	background-color: #4374dd;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	border-radius: 5px;
}

.fy .total {
	width: 2rem;
	height: 1rem;
	border: 1px solid #00C599;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #00C599;
	font-size: 0.4rem
}

.fy .total::before {
	content: '共';
}

.fy .total::after {
	content: '页';
}

.fy .centerPage {
	width: 3rem;
	height: 1rem;
	border: 1px solid #00C599;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #00C599;
	font-size: 0.4rem
}

.fy .centerPage::before {
	content: '第';
}

.fy .centerPage::after {
	content: '页';
}

.fy .leftPage i {
	font-size: 0.5rem
}

.fy .rightPage i {
	font-size: 0.5rem
}

.loading_back {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.loading {
	width: 20vw;
	height: 15vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.loading span {
	display: inline-block;
	width: 0.2rem;
	height: 100%;
	border-radius: 4px;
	background: none;
	-webkit-animation: load 0.7s ease infinite;
}

@-webkit-keyframes load {

	0%,
	100% {
		height: 40px;
		background: #4374dd;
	}

	50% {
		height: 70px;
		margin: -15px 0;
		background: #00c599;
	}
}

.loading span:nth-child(2) {
	-webkit-animation-delay: 0.2s;
}

.loading span:nth-child(3) {
	-webkit-animation-delay: 0.4s;
}

.loading span:nth-child(4) {
	-webkit-animation-delay: 0.6s;
}

.loading span:nth-child(5) {
	-webkit-animation-delay: 0.8s;
}

.addPanel {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	overflow-y: auto;
	top: 0;
	left: 0;
	background-color: #f7f7f7;
}

.addPanelTop {
	width: 100%;
	height: 8vh;
	position: relative;
	font-size: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.addControl {
	width: 20%;
	height: 100%;
	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.addControl i {
	font-size: 0.6rem;
	color: #4374dd;
}

.addPanelBottom {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.radioBox {
	width: 100%;
	height: auto;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.radio {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 33%;
	height: 1rem;
}

/* .radio input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
	content: '';
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	margin-right: 1em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
	background-color: #4374dd;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
	outline: none;
	border-color: #4374dd;
}

.radio input[type="radio"]:disabled+.radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
	margin-right: 0;
} */
.radoiFocus {
	background-color: #4374dd !important;
	color: #fff !important;
}

.radio>div {
	width: 95%;
	height: 90%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-size: 0.3rem;
	padding: 0 0.2rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	transition: all 0.5s;
}

.radio>div>span {
	font-size: 0.4rem;
}

.radio>div>span>i {
	font-size: 0.5rem;
}


/* 多选 */
.checkBoxBox {
	width: 100%;
	height: auto;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 33%;
	height: 1rem;
}

/* .checkbox input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

.checkbox input[type="checkbox"]+.checkbox-label:before {
	content: '';
	background: #f4f4f4;
	border-radius: 5px;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	margin-right: 1em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
}

.checkbox input[type="checkbox"]:checked+.checkbox-label:before {
	background-color: #4374dd;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}

.checkbox input[type="checkbox"]:focus+.checkbox-label:before {
	outline: none;
	border-color: #4374dd;
}

.checkbox input[type="checkbox"]:disabled+.checkbox-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

.checkbox input[type="checkbox"]+.checkbox-label:empty:before {
	margin-right: 0; 
}*/

.checkbox>div {
	width: 95%;
	height: 90%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-size: 0.3rem;
	padding: 0 0.2rem;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
	transition: all 0.5s;
}

.checkbox>div>span {
	font-size: 0.4rem;
}

.checkbox>div>span>i {
	font-size: 0.5rem;
}

.input_title {
	width: 100%;
	height: 1rem;
	display: flex;
	align-items: center;
	font-size: 0.4rem;
	color: #4374dd;
	font-weight: bold;
}

.input_title::before {
	content: '';
	width: 0.1rem;
	height: 0.8rem;
	margin-right: 0.2rem;
	background: #4374dd;
}

.picker {
	width: 100%;
	max-height: 100%;
	overflow-y: auto;
	position: fixed;
	background-color: #fff;
	z-index: 19;
	display: none;
	box-sizing: border-box;
	padding: 0.5rem;

}

.pickerBox {
	width: 100%;
	height: 65%;
	overflow-y: auto;
}

.picker ul {
	float: left;
	width: 59%;
	height: 100%;
}

.picker ul:nth-child(1) {
	width: 40%;
	margin-right: 1%;
}

.picker ul li {
	color: #fff;
	height: 1.5rem;
	font-size: 0.4rem;
	display: flex;
	align-items: center;
}

.picker ul li input {
	display: inline-block;
	width: 100%;
	height: 70%;
	border: 0;
	outline: 0;
	border-radius: 5px;
	padding-left: 10px;
	b0x-sizing: border-box;
	font-size: 0.4rem;
	background-color: #f2f2f2;
}

.picker ul:nth-child(2) li {
	color: #4374dd;
}

.closePicker {
	display: table;
	margin: 0.5rem auto;
}

.closePicker i {
	color: #ff3535;
	font-size: 1.5rem
}

.conditionBox {
	width: 100%;
	height: 2.5rem;
	background: #fff;
	margin-bottom: 0.5rem;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
	box-sizing: border-box;
}

.conditionBox div:nth-child(1) {
	width: 100%;
	height: 1rem;
	display: flex;
	align-items: center;
	font-size: 0.4rem;
	color: #434343;
	font-weight: bold;
	box-sizing: border-box;
	color: #4374dd
}

.conditionBox div:nth-child(1)::before {
	content: '';
	width: 0.1rem;
	height: 75%;
	margin-right: 0.2rem;
	/* background-color: #4374dd; */
}

.conditionBox div:nth-child(2) {
	width: 100%;
	height: 1.5rem;
	box-sizing: border-box;
}

.conditionBox1 {
	width: 100%;
	height: 2.5rem;
	background: #fff;
	margin-bottom: 0.5rem;
	border-radius: 5px;
	box-sizing: border-box;
}

.conditionBox1 div:nth-child(1) {
	width: 100%;
	height: 1rem;
	display: flex;
	align-items: center;
	font-size: 0.4rem;
	color: #434343;
	font-weight: bold;
	box-sizing: border-box;
	color: #4374dd
}

.conditionBox1 div:nth-child(1)::before {
	content: '';
	width: 0.1rem;
	height: 75%;
	margin-right: 0.2rem;
	/* background-color: #4374dd; */
}

.conditionBox1 div:nth-child(2) {
	width: 100%;
	height: 1.5rem;
	box-sizing: border-box;
}

.addConditionBox {
	width: 90%;
	height: 2.5rem;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 0.5rem;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
}

.addConditionBox div:nth-child(1) {
	height: 1rem;
	display: flex;
	align-items: center;
	font-size: 0.4rem;
	color: #4374dd;
	font-weight: bold;
}

.addConditionBox div:nth-child(1)::before {
	content: '';
	width: 0.2rem;
	height: 0.2rem;
	margin-right: 0.2rem;
	/* background-color: #4374dd; */
}

.addConditionBox div:nth-child(2) {
	width: 100%;
	height: 1.5rem;
}
