<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="full-screen" content="yes">
		<title>物联网管理</title>
		<script src="../lib/v2.6.10/vue.min.js"></script>
		<script src="../lib/vue-resource.min.js"></script>
		<!-- 页面自适应代码 -->
		<script src="../lib/adapt.js" type="text/javascript" charset="utf-8"></script>
		<!-- vue移动端事件代码 -->
		<script src="../lib/touch.js" type="text/javascript" charset="utf-8"></script>
		<!-- 页面样式 -->
		<link rel="stylesheet" type="text/css" href="./input.css" />
		<!-- 字体 -->
		<link rel="stylesheet" type="text/css" href="../lib/font/iconfont.css" />
		<!-- css3动画 -->
		<link rel="stylesheet" type="text/css" href="../lib/animate.min.css" />
		<!-- 日期插件 -->
		<link rel="stylesheet" href="../lib/date/weui.min.css">
		<link rel="stylesheet" href="../lib/date/jquery-weui.css">
		<link rel="stylesheet" href="../lib/date/demos.css">
	</head>
	<body style="background-color: #f7f7f7;">
		<div class="input">
			<!-- 加载动画 -->
			<div v-show="dataOptionsBackControl" class="dataOptionsBack"></div>
			<div class="loading_back" v-if="loadingControl">
				<div class="loading">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<!-- 加载动画结束 -->
			<!-- 检索条件开始 -->
			<div class="textBox">
				<div class="selectControl" v-show="selectControl" v-tap="showSelectCondition"></div>
				<div class="selectCondition" v-show="selectCondition">
					<!-- 
					<input type="text" class="dropDownInput select" placeholder="请选择查询内容" @click="dropDownUp('select')">
					
					<div class="conditionBox">
						<div>
							查询文本
						</div>
						<div>
							<input type="text" v-model="queryParam.cityName" class="selectInput" placeholder="请输入查询内容">
						</div>
					</div>
					<div class="conditionBox">
						<diV>
							查询日期
						</div>
						<div>
							<input class="selectInput" type="text" v-model="queryParam.queryDate" id="dateSelectorOne" placeholder="选择日期">
						</div>
					</div>
					<div class="conditionBox">
						<div>
							查询选择
						</div>
						<div class="radioBox">
							<div class="radio"  v-for="(item,index) in radioOptions">
								<div @click="queryParam.value=item.value" :class="{'radoiFocus':queryParam.value==item.value}">{{item.text}}
								</div>
							</div>
						</div>
					</div>
					-->
					
					<div class="conditionBox">
	<diV>
		房间编码
	</diV>
	<diV>
		<input type="text" v-model="queryParam.roomId" class="selectInput" placeholder="请输入查询房间编码">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		房间名称
	</diV>
	<diV>
		<input type="text" v-model="queryParam.roomName" class="selectInput" placeholder="请输入查询房间名称">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		操作时间
	</diV>
	<diV>
		<input class="selectInput" type="text" v-model="queryParam.opratorTime" id="opratorTime" placeholder="操作时间">
	</diV>
</diV>

					
					<button class="primaryButton iconfont icon-sousuo" @click="queryData">查询</button>
					<button class="successButton iconfont icon-xinzeng" @click="addPanelShow">新增</button>
				</div>
				<!-- 检索结果 -->
				<div v-show="selectResultIfr" id="selectResultIfr">
					<div id="selectResult">
						<div class="picker animate__animated animate__zoomIn">
							<div class="pickerBox">
								<!-- 
								<div class="conditionBox1">
									<div>
										更新文本
									</div>
									<div>
										<input type="text" v-model="updateParam.cityName" class="selectInput1" placeholder="请输入查询内容">
									</div>
								</div>
								<div class="conditionBox1">
									<div>
										更新日期
									</div>
									<div>
										<input class="selectInput1" type="text" v-model="updateParam.addDate" id="dateSelectorOne" placeholder="选择日期">
									</div>
								</div>
								<div class="conditionBox1">
									<div>
										更新选择
									</div>
									<div class="radioBox">
										<div class="radio"  v-for="(item,index) in radioOptions">
											<div @click="updateParam.value=item.value" :class="{'radoiFocus':addParam.value==item.value}">{{item.text}}
											</div>
										</div>
									</div>
								</div>
							</div>
							-->
							
							<div class="conditionBox">
	<diV>
		控制器编码
	</diV>
	<diV>
		<input type="text" v-model="updateParam.id" class="selectInput" placeholder="请输入查询控制器编码">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		控制器名称
	</diV>
	<diV>
		<input type="text" v-model="updateParam.name" class="selectInput" placeholder="请输入查询控制器名称">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		房间编码
	</diV>
	<diV>
		<input type="text" v-model="updateParam.roomId" class="selectInput" placeholder="请输入查询房间编码">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		房间名称
	</diV>
	<diV>
		<input type="text" v-model="updateParam.roomName" class="selectInput" placeholder="请输入查询房间名称">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		状态
	</diV>
	<diV>
		<input type="text" v-model="updateParam.status" class="selectInput" placeholder="请输入查询状态">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		操作人
	</diV>
	<diV>
		<input type="text" v-model="updateParam.oprator" class="selectInput" placeholder="请输入查询操作人">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		操作时间
	</diV>
	<diV>
		<input class="selectInput" type="text" v-model="updateParam.opratorTime" id="opratorTime" placeholder="操作时间">
	</diV>
</diV>

							
							<!-- <div class="closePicker"><i class="iconfont icon-guanbishixin"></i>
							</div> -->
							<button  class="primaryButton" @click="updateDataInfo">确认修改</button>
							<button v-tap="closePicker" class="deleteButton">取消</button>
						</div>
						<div class="dataOptions">
							<table border="0" cellspacing="0" cellpadding="0" width="100%">
								<tr>
									<!-- 
									<th>head</th>
									-->
									
										<th>控制器编码</th>
	<th>控制器名称</th>
	<th>房间编码</th>
	<th>房间名称</th>
	<th>状态</th>
	<th>操作人</th>
	<th>操作时间</th>

									
								</tr>
								<tr v-for="item in tableData" v-swipeleft="scrollLeftFun"
									v-swiperight="scrollRightFun">
									<!-- 
									<td>{{item.data1}}</td>
									-->
									
									<td>{{item.id}}</td>
<td>{{item.name}}</td>
<td>{{item.roomId}}</td>
<td>{{item.roomName}}</td>
<td>{{item.status}}</td>
<td>{{item.oprator}}</td>
<td>{{item.opratorTime}}</td>

									
									<td class="dataOptionsControl">
										<ul class="operationPanel">
											<li @click="modifyIt(item)">
												<i class="iconfont icon-xiugai"></i>
											</li>
											<li @click="deleteDataInfo(item)">
												<i class="iconfont icon-shanchu1"></i>
											</li>
										</ul>
									</td>
								</tr>
							</table>
						</div>
						<div class="fy">
							<div class="leftPage">
								<i class="iconfont icon-jiantou_shangyiye_o" @click="prePage()"></i>
							</div>
							<div class="total">{{page}}</div>
							<div class="centerPage">{{currentPage}}</div>
							<div class="rightPage">
								<i class="iconfont icon-jiantou_xiayiye_o" @click="nextPage()"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- 检索结果结束 -->
			</div>
			<!-- 检索条件结束 -->
			<!-- 新增界面 -->
			<div class="addPanel" v-show="addPanelControl">
				<div class="addPanelTop">
					<div class="addControl" @click="addPanelHide"><i class="iconfont icon-fanhui"></i></div>
				</div>
				<!-- 
				<div class="addConditionBox">
					<div>
						新增文本
					</div>
					<div>
						<input type="text" v-model="addParam.cityName" class="selectInput" placeholder="请输入查询内容">
					</div>
				</div>
				<div class="addConditionBox">
					<diV>
						新增日期
					</div>
					<div>
						<input class="selectInput" type="text" v-model="addParam.addDate" id="dateSelectorOne" placeholder="选择日期">
					</div>
				</div>
				<div class="addConditionBox">
					<div>
						新增选择
					</div>
					<div class="radioBox">
						<div class="radio"  v-for="(item,index) in radioOptions">
							<div @click="addParam.value=item.value" :class="{'radoiFocus':addParam.value==item.value}">{{item.text}}
							</div>
						</div>
					</div>
				</div>
				-->
				
				<div class="conditionBox">
	<diV>
		控制器编码
	</diV>
	<diV>
		<input type="text" v-model="addParam.id" class="selectInput" placeholder="请输入查询控制器编码">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		控制器名称
	</diV>
	<diV>
		<input type="text" v-model="addParam.name" class="selectInput" placeholder="请输入查询控制器名称">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		房间编码
	</diV>
	<diV>
		<input type="text" v-model="addParam.roomId" class="selectInput" placeholder="请输入查询房间编码">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		房间名称
	</diV>
	<diV>
		<input type="text" v-model="addParam.roomName" class="selectInput" placeholder="请输入查询房间名称">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		状态
	</diV>
	<diV>
		<input type="text" v-model="addParam.status" class="selectInput" placeholder="请输入查询状态">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		操作人
	</diV>
	<diV>
		<input type="text" v-model="addParam.oprator" class="selectInput" placeholder="请输入查询操作人">
	</diV>
</diV>
<div class="conditionBox">
	<diV>
		操作时间
	</diV>
	<diV>
		<input class="selectInput" type="text" v-model="addParam.opratorTime" id="opratorTime" placeholder="操作时间">
	</diV>
</diV>

				
				<div class="addPanelBottom">
					
					<button class="successButton iconfont icon-xinzeng" @click="addDataInfo">确认新增</button>
				</div>
			</div>
			<!-- 新增界面结束 -->
			<!-- 下拉菜单开始 -->
			<div class="dropDownMenu">
				<div class="dropDownControl">
					<button class="primaryColor" @click.stop="inputInsert">确认</button>
					<button class="weakenColor" @click.stop="dropDownClose">取消</button>
				</div>
				<div class="dropDownContent">
					<ul>
						<li @click="insertInput(index)" v-for="(item,index) in cityName">{{item}}</li>
					</ul>
				</div>
			</div>
			<!-- 下拉菜单结束 -->
		</div>
		<script src="./input.js" type="text/javascript" charset="utf-8"></script>
		<script src="../lib/date/jquery-2.1.4.js"></script>
		<script src="../lib/date/fastclick.js"></script>
		<script src="../lib/date/jquery-weui.js"></script>
		<script>
			//$("#date2").calendar({
        	//	value: ['2016-12-12'],
        	//	dateFormat: 'yyyy-mm-dd'
      		//});
      		
      		$("#opratorTime").calendar({
	value: ['2016-12-12'],
	dateFormat: 'yyyy-mm-dd'
});

      		
		</script>
	</body>
</html>

